.cat-menu {
  box-shadow: 0 3px 6px -4px #0000001f,0 6px 16px #00000014,0 9px 28px 8px #0000000d;
}
.cat-menu-horizon {
  display: flex;
}
.cat-menu-item {
  display: flex;
  align-items: center;
  height: 3em;
  padding: 0 20px;
}
.cat-menu-item:hover {
  color: var(--blue);
}
.cat-submenu {
  position: relative;
}
.cat-submenu-list {
  display: none;
  background-color: #fafafa;
}
.cat-submenu-list-shadow {
  box-shadow: 0 3px 6px -4px #0000001f,0 6px 16px #00000014,0 9px 28px 8px #0000000d;
  background-color: #fff;
  border-radius: 3%;
  z-index: 999;
}
.cat-submenu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  padding: 0 20px;
}
.cat-submenu-title:hover {
  color: var(--blue);
}
/* 高亮样式 */
.cat-menu-cur-right {
  border-right: 3px solid var(--blue);
  color: var(--blue);
  background-color: #e6f7ff;
}
.cat-menu-cur-txt {
  color: var(--blue);
}
.cat-menu-cur-bottom {
  border-bottom: 2px solid var(--blue);
  color: var(--blue);
}
.cat-menu-cur-bg {
  background-color: #e6f7ff;
  color: var(--blue);
}
/* 显示方式 */
.cat-menu-show-inline {
  display: block;
}
.cat-menu-show-right {
  display: block;
  position: absolute;
  left: 103%;
  top: 0;
  width: 100%;
}
.cat-menu-show-bottom {
  display: block;
  position: absolute;
  left: 0;
  top: 103%;
  width: 100%;
}